@page "/Blog/{RouteName}"
@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@model MZikmund.Web.Pages.Blog.PostModel

@{
    MetaTags.Title = Model.BlogPost?.Title ?? "";
    MetaTags.Description = Model.BlogPost?.Abstract ?? "";
    MetaTags.Keywords = Model.MetaKeywords;
    if (Model.BlogPost?.HeroImageUrl is { } url)
    {
        MetaTags.Image = url;
    }
    if (Model.BlogPost?.HeroImageAlt is { } alt)
    {
        MetaTags.ImageAlt = alt;
    }
}

<article class="blog-post">
    <header>
        @* <img class="hero-image shadow mb-3 img-fluid mx-auto d-block" src="@Model.BlogPost.Localizations[0].HeroImage" /> *@

        <h1 class="display-3 text-center text-primary">@Model.BlogPost?.Title</h1>
        @* <div class="lead text-center">@Model.BlogPost?.PublishDate!.Value.Date.ToOrdinalWords()</div> *@
        <p class="text-center lead mb-1 mt-2">
            @foreach (var category in Model.BlogPost!.Categories)
            {
                <a class="badge bg-primary text-decoration-none" asp-page="/Blog/CategoryPostList" asp-route-categoryName="@category.RouteName">@category.DisplayName</a>
            }
        </p>
        <p class="text-center text-secondary">@Model.BlogPost.PublishedDate.Humanize()</p>
    </header>
    <div class="post-content">
        @Html.Raw(Model.HtmlContent)
    </div>
    <footer>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7501232789626725"
                 crossorigin="anonymous"></script>
            <!-- ArticleBottom -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7501232789626725"
                 data-ad-slot="4418669923"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p class="text-center">
            @foreach (var tag in Model.BlogPost!.Tags)
            {
                <a class="badge rounded-pill bg-secondary text-decoration-none" asp-page="/Blog/TagPostList" asp-route-tagName="@tag.RouteName">#@tag.DisplayName</a>
            }
        </p>
    </footer>
</article>
