@page "{RouteName}"
@using Microsoft.AspNetCore.Http.Extensions
@model MZikmund.Web.Pages.Blog.PostModel

@{
    ViewData[ViewDataProperties.Title] = Model.BlogPost?.Title ?? "";
}

@section Head
{    
    <meta property="og:url" content="@Request.GetDisplayUrl()" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.BlogPost?.Title" />
    <meta property="og:description" content="@Model.BlogPost!.Abstract" />
    @* <meta property="og:image" content="@Model.BlogPost.Localizations[0].HeroImage" /> *@
    <meta property="og:image:height" content="378" /><!--TODO-->
    <meta property="og:image:height" content="832" /><!--TODO-->
    <meta name="twitter:image:alt" content="Alt text for image" /><!-- TODO -->
    <meta name="keywords" content="" /><!-- TODO -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@@mzikmunddev" />
    <meta name="twitter:title" content="@Model.BlogPost?.Title" />
    <meta name="twitter:description" content="@Model.BlogPost!.Abstract" />
    @* <meta name="twitter:image" content="@Model.BlogPost.Localizations[0].HeroImage" /> *@
    <meta property="twitter:image:height" content="378" /> <!--TODO-->
    <meta property="twitter:image:height" content="832" /><!--TODO-->
}

<article class="blog-post">
    <header>
        @* <img class="hero-image shadow mb-3 img-fluid mx-auto d-block" src="@Model.BlogPost.Localizations[0].HeroImage" /> *@

        <h1 class="display-3 text-center text-primary">@Model.BlogPost?.Title</h1>
        @* <div class="lead text-center">@Model.BlogPost?.PublishDate!.Value.Date.ToOrdinalWords()</div> *@
        <p class="text-center lead mb-1 mt-2">
            @foreach (var category in Model.BlogPost!.Categories)
            {
                <a class="badge bg-primary text-decoration-none" asp-page="/Blog/CategoryPostList" asp-route-categoryName="@category.RouteName">@category.DisplayName</a>
            }
        </p>
        <p class="text-center text-secondary">@Model.BlogPost.PublishedDate.Humanize()</p>
    </header>
    <div class="post-content">
        @Html.Raw(Model.HtmlContent)
    </div>
    <footer>
        <p class="text-center">
            @foreach (var tag in Model.BlogPost!.Tags)
            {
                <a class="badge rounded-pill bg-secondary text-decoration-none" asp-page="/Blog/TagPostList" asp-route-tagName="@tag.RouteName">#@tag.DisplayName</a>
            }
        </p>
    </footer>
</article>
