<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <title>@ViewData[ViewDataProperties.Title] - MZikmund.Web</title>

    <partial name="_HeadMetaPartial" />
    <partial name="_HeadLinksPartial" />

    <partial name="_HeadStylesPartial" />
    <partial name="_HeadScriptsPartial" />

    @RenderSection(LayoutSections.Head, required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/logo.png" width="48" alt="Martin Zikmund" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderSection(LayoutSections.AboveMain, false)
    <div class="container">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="box-shadow footer text-muted">
        <div class="container">
            <div class="row justify-content-center mb-0 pb-0">
                <div class="col-12 align-content-center">
                    <p class="text-center mb-0">&copy; @DateTimeOffset.UtcNow.Year - Martin Zikmund</p>
                </div>             
            </div>
        </div>
    </footer>

    <partial name="_CookieConsentPartial" />

    @RenderSection(LayoutSections.BodyEnd, required: false)
</body>
</html>
